manifest {
    mainScript = 'training.nf'
}

// default parameters
// params {
//   cores = "8"
//   mem = "12"
//   fastq = ''

  // folder structure
  //output = 'results'

docker.enabled = true



process {
        withName: filterfastq { container = 'multifractal/filtlong:latest'}
        withName: assembly { container = 'nanozoo/flye:latest'}
        withName: sourmashmg { container = 'nanozoo/sourmash:2.3.0--4257650'}
        withName: nanoplot { container = 'multifractal/nanoplot:latest'}

}